<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/log.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log</title>
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <!-- Contenuto del div -->
        <div class="log">
          <form action="/log" method="post">
            <div class="mb-3">
              <label for="Email" class="form-label">Email</label>
              <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" >
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit" style="margin-left: 5%;width: 90%;">log</button>
            </div>

          </form>
          <a href="" style="margin-left :5% ;float: left; font-size: small;">registrati</a>
          <a href="/registrazione" style="margin-right :5% ;float: right;font-size: small;">hai dimenticato la password?</a>
      </div>
        
</body>
</html>